/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color:#231f20;

}


/* styles de paragraphe par défaut */
p, li, textarea, label, input, select {
  /* Default font size and line height */
}


/* titre d'entête */
h1 {
  font-size: 88px;
}

/* titre de section */
h2 {
  color: #231F20;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 64px 216px 64px 231px;
}
h4{
   color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 0px 0px 50px;
}

h5{
   color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 0px 0px 900px;
  text-align: center;
}
/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/

.header-title {
  margin: 8px 0;
  padding: 15px;
  background-color: #fcce00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-subtitle {
  margin: 8px 0;
  padding: 15px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-stripe {
margin: 8px 0;
}

.header-stripe--red {
height: 32px;
background-color: #e02020bd;
}

.header-stripe--purple {
height: 16px;
background-color: #b620e0bd;
}

.header-stripe--blue {
height: 8px;
background-color: #6236ffbd;
}

.block {
display:flex;
justify-content: space-around;
align-items: stretch;

}

.block2 {

display:flex;
justify-content: space-around;
align-items: stretch;
 
 }



.block3{

 padding: 120px 10px 100px 0px;
 
  background-color: black;



}


.espace{

margin: 40px 0px 0px 0px;
}
.rectangle1 {
  width: 1439px;
  height: 320px;
  padding: 0px 740px 0px 0px;
  opacity: 0.81;
  background-color:#e02020;
}

.rectangle2{
 width: 1439px;
  height: 160px;
 padding: 120px 740px 0px 0px;
  opacity: 0.61;
  background-color: #e02020;


}

.rectangle3{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.41;
  background-color: #e02020;


}

.rectangle4{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.20;
  background-color: #e02020;


}

.rectangle5 {
  width: 1439px;
  height: 320px;
  padding: 0px 740px 0px 0px;
  opacity: 0.81;
  background-color:#b620e0;
}

.rectangle6{
 width: 1439px;
  height: 160px;
 padding: 120px 740px 0px 0px;
  opacity: 0.61;
  background-color: #b620e0;


}

.rectangle7{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.41;
  background-color: #b620e0;


}

.rectangle8{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.20;
  background-color: #b620e0;}

.rectangle9 {
  width: 1439px;
  height: 320px;
  padding: 0px 740px 0px 0px;
  opacity: 0.81;
  background-color:#6236ff;
}

.rectangle10{
 width: 1439px;
  height: 160px;
 padding: 120px 740px 0px 0px;
  opacity: 0.61;
  background-color: #6236ff;


}

.rectangle11{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.41;
  background-color: #6236ff;


}

.rectangle12{
 width: 1439px;
  height: 80px;
  padding: 0px 740px 0px 0px;
  opacity: 0.20;
  background-color: #6236ff;


}


.fond {

  
  background-color:#FFFFFF;
  margin: 0px 0px 0px 100px;




}


.colonne {
flex-basis: 0;
flex-grow: 1;
}



.colonne2{
background-image: url(../img/bg-yellow.png);
}

.titre-paragraphe {
margin: 0 31px 34px 0;
font-size: 24px;
font-weight: bold;
text-align: center;
}

.paragraphe1 {






width: 640px;
height: 184px;
margin: 34px 32px 164px 48px;
font-size: 20px;
text-align: justify;
}

.paragraphe2 {

font-size: 30px;
text-align: justify;
color: #FFFFFF ;
margin: 20px 50px 50px 50px;
}

.ordinateur-1 {
width: 1000px;
height: 700px;
mix-blend-mode: darken;
display: block;
margin: 0px 0px 0px 32px;
}

.ordinateur-2 {
width: 1000px;
height: 700px;
mix-blend-mode: darken;
display: block;
margin: 0px 33px 0px 0px;
}

.arcadeimg{

width: 900px;
height: 660px;
mix-blend-mode: darken;
display: block;
margin: -300px 0px 0px 1000px;
}



}
.bouton-1 {

width: 185px;
height: 48px;
margin: 30px 32px 86px 503px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #ff6b00;
font-size: 20px;
}

.bouton-2 {
width: 185px;
height: 48px;
margin: 30px 32px 86px 503px;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #ff6b00;
font-size: 20px;
}



.bouton-3 {
width: 185px;
height: 48px;
margin: 64px 0px 64px 50px;;
padding: 10px 36px;
border-radius: 15px;
border: solid 4px;
color: #ffffff;
font-size: 30px;
}




.tableau {

margin: 0px 0px 0px 50px;

}
.imgtab {
margin: 25px 50px 25px 0px;
border-radius: 20px;


}




h6 {
  font-family:"Poppins";
  font-size: 25px;
  color: white;
  background-color: black;
  
}
.